body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #555;
 
   
}

.container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #45a049;
}

/* Özelleştirmeler */

#map {
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.container {
    background-color: #f9f9f9;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

button {
    background-color: #3f8f4e;
    margin-top: 5px;
}

button:hover {
    background-color: #387d46;
}
#map {
    height: 500px;
    width: 100%;
}
.footer{
    color: white;
    text-align: center;
        
}